{{ define "main" }}
<div class="container" style="padding: 40px 15px;">
    <h1 class="page-title">{{ .Title }}</h1>
    <div class="product-grid">
        {{ range .Pages.ByWeight }}
        <a href="{{ .Permalink }}" style="text-decoration: none; color: inherit;">
            <div class="product-item">
                {{ with .Params.images }}
                    <img src="{{ (index . 0).image }}" alt="{{ .Title }}">
                {{ end }}
                <div class="product-item-content">
                    <h3>{{ .Title }}</h3>
                    <p>{{ .Params.description }}</p>
                </div>
            </div>
        </a>
        {{ end }}
    </div>
</div>
{{ end }}